.search {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 28px;
  background-color: #f6f6f6;
  transition: background 0.25s;
  width: 700px;
}

.search:focus-within {
  background: #f1f1f1;
}

.search-input {
  font-size: 16px;
  font-family: sans-serif;
  color: #333333;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
}

.search-input::placeholder,
.search-icon {
  color: rgba(0, 0, 0, 0.5);
}

.btn {
  background-color: #000;
  color: white;
  padding: 10px 20px;
  border-radius: 13px;
  border: none;
  cursor: pointer;
}

.page {
  display: flex;
  gap: 100px;
  align-items: flex-start;
  padding: 20px;
}

.leftside {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.rightside {
  width: 55%;
}

.qr-kode {
  padding: 150px;
  outline: 1px solid black;
}

.songlist {
  width: 100%;
  max-width: 800px;
}

.song-row {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 10px;
  margin-bottom: 10px;
}

.next-track {
  outline: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 10px;
  margin-bottom: 10px;
}

.song-title {
  color: #000;
}

.song-artist {
  color: grey;
}

.song-info,
.vote-box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.vote-box {
  justify-content: center;
  flex-direction: column;
}

.song-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
