.search {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 28px;
  background-color: #f6f6f6;
  transition: background 0.25s;
  width: 700px;
}

.search:focus-within {
  background: #f1f1f1;
}

.search-input {
  font-size: 16px;
  font-family: sans-serif;
  color: #333333;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
}

.search-input::placeholder,
.search-icon {
  color: rgba(0, 0, 0, 0.5);
}

.btn {
  background-color: #000;
  color: white;
  padding: 10px 20px;
  border-radius: 13px;
  border: none;
  cursor: pointer;
}

.page {
  display: flex;
  gap: 100px;
  align-items: flex-start;
  padding: 20px;
  background-color: black;
  height: 100vh;
}

.leftside {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 70px;
  height: 100%;
}

.rightside {
  width: 55%;
  height: 100%;
}

.now-playing {
  width: 100%;
  min-height: 200px;
  background-color: rgba(20, 20, 20, 1);
  border-radius: 20px;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.now-playing-top {
  margin-top: 10px;
  font-size: 30px;
  color: wheat;
}

.now-playing-mid {
  display: flex;
  font-size: 50px;
  color: greenyellow;
}

.now-playing-bottom {
  display: flex;
  color: lightgreen;
  font-size: 40px;
}

.qr-kode {
  outline: 1px solid black;
  width: 100%;
  height: 300px;
  display: flex;
  background-color: darkgray;
  border-radius: 20px;
}

.qr-kode-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-kode-right {
  width: 50%;
  display: flex;

  flex-direction: column;
  align-items: center;

  height: 200px;
  justify-content: space-evenly;
}

.join-code {
  display: flex;
  font-size: 30px;
  color: white;
}

.join-code-tekst {
  display: flex;
  font-size: 20px;
  color: white;
}

.songlist {
  width: 100%;
  max-width: 800px;
}

.next-track {
  background-color: green;
  border-radius: 8px;
}

.next-track span {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: greenyellow;
}

.next-track-song-row {
  display: grid;
  grid-template-columns: 1fr 100px;

  margin-bottom: 10px;
  align-items: center;
}

.vote-box-next-track,
.song-info-next-track {
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.song-info-next-track {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.vote-box-next-track {
  justify-content: space-between;
  font-size: 30px;
}

.vote-box-next-track button {
  border-radius: 3px;
}

.next-track .song-title {
  color: lightgreen;
}

.next-track .song-artist {
  color: greenyellow;
}

.song-row.keep-song {
  background-color: yellow;
}

.keep-vote-box {
  color: #000;
}

.song-artist.keep-song-artist {
  color: red;
}

.song-title.keep-song-title {
  color: goldenrod;
}

.song-row {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 10px;
  margin-bottom: 10px;
  background-color: #333333;
  border: 1px solid #ccc;
  border-radius: 8px;
  min-height: 100px;
  align-items: center;
}

.song-title {
  color: white;
  font-size: 25px;
}

.song-artist {
  color: lightgray;
  font-size: 25px;
}

.song-info,
.vote-box {
  padding: 10px;
  display: flex;
  align-items: center;
}

.vote-box {
  justify-content: space-between;
  color: green;
  font-size: 30px;
}

.vote-box button {
  border-radius: 3px;
}

.vote-box button:hover {
  background-color: lightgray;
}

.song-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#buttomFrontPage {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
